@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playwrite+VN:wght@100..400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f8e4dc;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: 'Pacifico', serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  cursor: default;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #d17b84;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 50px;
  background-color: #f6f6f6;
  animation: fadeIn 1s ease-in-out;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #fec2aa;
  -webkit-text-stroke: 1px #000000;
  cursor: default;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #000000;
  cursor: default;
}

.buybtn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #fec2aa;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.buybtn:hover {
  background: #ffaf90;
}

.hero-img {
  max-width: 45%;
  height: 700px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f8e4dc;
  color: #555;
  font-size: 0.9rem;
  cursor: default;
}

footer a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #d17b84;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}